@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
    margin: auto; } }

@media (min-width: 992px) and (max-width: 1259px) {
  .container {
    width: 970px;
    margin: auto; } }

@media (min-width: 1260px) {
  .container {
    width: 1200px;
    margin: auto; } }

@media (min-width: 768px) {
  .about_task {
    display: block !important; } }

@media (max-width: 576px) {
  #email {
    width: 200px; } }

@media (max-width: 576px) {
  .text_break {
    display: none; } }

@media (min-width: 576px) {
  #top_section {
    height: 100vh; } }

html {
  scroll-behavior: smooth; }

body {
  font-family: Ubuntu; }

a {
  text-decoration: none;
  color: black; }

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
    margin: auto; } }

@media (min-width: 992px) and (max-width: 1259px) {
  .container {
    width: 970px;
    margin: auto; } }

@media (min-width: 1260px) {
  .container {
    width: 1200px;
    margin: auto; } }

@media (min-width: 768px) {
  .about_task {
    display: block !important; } }

@media (max-width: 576px) {
  #email {
    width: 200px; } }

@media (max-width: 576px) {
  .text_break {
    display: none; } }

@media (min-width: 576px) {
  #top_section {
    height: 100vh; } }

#top_section {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcoral; }

.inner {
  padding: 20px 0; }

.main_heading {
  text-align: center; }

#img-wrapper {
  display: flex;
  justify-content: center; }

#imageToDisplay {
  max-height: 500px;
  border: 4px solid black;
  transform: rotate(2deg); }

.imageDetails {
  text-align: center;
  font-size: 16px; }

.btn_wrapper {
  text-align: center; }

#generate_btn {
  font-family: 'Ubuntu';
  padding: 10px 15px 10px 15px;
  border-radius: 4px;
  border: 1px solid lightgrey;
  box-shadow: 0.9px 0.6px;
  font-size: x-large;
  margin-bottom: 35px; }
  #generate_btn:hover {
    cursor: pointer;
    background-color: gainsboro;
    box-shadow: 0.9px 0.6px darksalmon;
    transition-duration: 0.6s; }

#scroll_down {
  margin-top: 40px;
  text-align: center;
  font-size: 18px; }

#scroll_down a:hover {
  color: gainsboro;
  transition-duration: 0.2s; }

#mid_section {
  height: 100vh; }

.form_wrapper {
  display: flex;
  justify-content: center;
  padding: 15px; }

#form {
  text-align: center; }

#error {
  display: flex;
  margin-bottom: 10px;
  color: red;
  font-size: 12px; }

#email {
  width: 400px;
  height: 40px;
  padding: 10px;
  border: 4px solid lightgrey;
  border-radius: 20px;
  font-family: Ubuntu;
  font-size: 20px; }
  #email:active {
    background-color: lightcyan;
    transition-duration: 0.6s; }
  #email:focus {
    outline: none;
    background-color: lightcyan;
    transition-duration: 0.6s; }

#submit_btn {
  font-family: 'Ubuntu';
  padding: 10px 15px 10px 15px;
  border-radius: 4px;
  border: 1px solid lightgrey;
  box-shadow: 0.9px 0.6px;
  margin: 10px 0 15px 20px;
  font-size: x-large; }
  #submit_btn:hover {
    cursor: pointer;
    background-color: gainsboro;
    box-shadow: 0.9px 0.6px darksalmon;
    transition-duration: 0.6s; }

.direction {
  line-height: 1.6rem; }

#box {
  min-height: 700px;
  margin-top: 30px 0 50px 0;
  border: 3px solid darksalmon;
  border-radius: 20px;
  background-color: floralwhite; }

.assigned_heading {
  text-align: center;
  margin: 0;
  padding: 20px;
  border-radius: 20px;
  border-bottom: 4px solid darksalmon;
  background-color: ghostwhite; }

#to_top {
  text-align: center;
  font-size: 18px; }

#to_top a:hover {
  color: darksalmon;
  transition-duration: 0.2s; }

footer {
  background-color: #333645; }

.end_message {
  height: 45px;
  padding: 30px;
  text-align: center;
  color: white; }

.end_message p {
  margin-top: 10px; }

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
    margin: auto; } }

@media (min-width: 992px) and (max-width: 1259px) {
  .container {
    width: 970px;
    margin: auto; } }

@media (min-width: 1260px) {
  .container {
    width: 1200px;
    margin: auto; } }

@media (min-width: 768px) {
  .about_task {
    display: block !important; } }

@media (max-width: 576px) {
  #email {
    width: 200px; } }

@media (max-width: 576px) {
  .text_break {
    display: none; } }

@media (min-width: 576px) {
  #top_section {
    height: 100vh; } }

.logo {
  margin: 20px;
  padding-left: 35px;
  font-size: 28px;
  font-family: Pacifico; }
  .logo:hover {
    text-shadow: -1px -1px 0 gold, 1px -1px 0 gold, -1px 1px 0 gold, 1px 1px 0 gold; }

#header_wrapper {
  position: relative; }

.header_contents {
  display: flex;
  justify-content: space-between; }

.about_task {
  display: none;
  line-height: 1.4rem; }

.scroll_down {
  color: coral !important; }
  .scroll_down:hover {
    color: #ff5a1d !important;
    cursor: pointer; }

.down-arrow {
  padding-bottom: 16px; }
