// Forms

// Utilities Imports
@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media';

#mid_section {
  background-color: lightcoral;
}

.main_heading {
  text-align: center;
}

.imageDetails {
  text-align: center;
}

.btn_wrapper {
  text-align: center;
}

#generate_btn {
  @include btn_style;
  &:hover {
    cursor: pointer;
  }
}

.form_wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 15px 20px 15px;
  background-color: lightgrey;
}

#error {
  display: flex;
  margin-bottom: 10px;
  color: red;
  font-size: 12px;
}

#email {
  padding: 10px;
  width: 300px;
  border: 1px solid lightgrey;
  font-family: Ubuntu;
  &:active {
    border: 1px solid lightblue;
  }
  &:focus {
    outline: none;
    border: 1px solid lightblue;
  }
}

#submit_btn {
  @include btn_style;
  &:hover {
    cursor: pointer;
  }
}

#img-wrapper {
  display: flex;
  justify-content: center;
}

#imageToDisplay {
  max-height: 500px;
}

#emailImages {
  display: flex;
  justify-content: space-evenly;
}
