// Forms

// Utilities Imports
@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media';

.email_inner {
  padding: 50px 0px 50px 0px;
}

.heading_wrapper {
  display: flex;
  justify-content: center;
}

.main_heading {
  text-align: center;
}

.form_wrapper {
  display: flex;
  justify-content: center;
}
