// Header

// Utilities Imports
@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media';

#top_wrapper {
  height: 100vh;
}

header {
  height: 10vh;
  display: flex;
  align-items: center;
}

.logo {
  margin: 8px;
  font-size: 24px;
  font-family: Pacifico;
  &:hover {
   text-shadow: -1px -1px 0 gold, 1px -1px 0 gold, -1px 1px 0 gold, 1px 1px 0 gold;
  }
}

#header_wrapper {
  position: relative;
}

.header_contents {
  display: flex;
  justify-content: space-around;
}

.about_task {
  display: none;
  line-height: 1.4rem;
}

.task_text {
  margin: 8px;
}

.scroll_down {
  color: coral !important;
  &:hover {
    color: $dark-coral !important;
    cursor: pointer;
  }
}


