// Header

// Utilities Imports
@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media';

.logo {
  margin: 20px;
  padding-left: 35px;
  font-size: 28px;
  font-family: Pacifico;
  &:hover {
   text-shadow: -1px -1px 0 gold, 1px -1px 0 gold, -1px 1px 0 gold, 1px 1px 0 gold;
  }
}

#header_wrapper {
  position: relative;
}

.header_contents {
  display: flex;
  justify-content: space-between;
}

.about_task {
  display: none;
  line-height: 1.4rem;
}

.scroll_down {
  color: coral !important;
  &:hover {
    color: $dark-coral !important;
    cursor: pointer;
  }
}

.down-arrow {
  padding-bottom: 10px;

}
