// mixins

@mixin btn_style {
  font-family: 'Ubuntu';
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    border: 1px solid lightgrey;
    box-shadow: 0.9px 0.6px;
}

@mixin btn_hover {
  cursor: pointer;
  background-color: gainsboro;
  box-shadow: 0.9px 0.6px darksalmon;
  transition-duration: 0.6s;
}
